body{
    background-color: #417FBE;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;

}

#Input-Celsius {
    height: 200px;
    width: 700px;
    background-color: #d2b52d;
    font-size: 150px;
    
    
}

#Input-Fahrenheit {
    height: 200px;
    width: 700px;
    background-color: #d2b52d;
    font-size: 150px;
    
}


#Equals {
    font-size:120px ;
}

#Celsius-Text {

    font-size: 100px;

}

#Fahrenheit-Text {
    font-size: 100px;
}
